.soccer-player-card table, th,td {
	border:1px solid #EEEEEE;
    padding: 10px;
}

.soccer-player-card img {
    width: 10vw;
    padding: 25px;
}

.soccer-player-card {
    margin: 10vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,94,164,1) 37%, rgba(0,212,255,1) 100%);
}